body{
  background: url(https://i.pinimg.com/originals/26/6c/44/266c44f4d5e4b96af11fed54448b3ed1.jpg);
  background-size: 100%
}
h1{
  color: red;
  font-size: 40px;
  text-align: center;
}

h1{
	font-family:  Brush Script Std, bold;
	font-size: 25;
	font-style: bold;
	color: Red;
}
p{
	font-family: Snell Roundhand, bold;
	font-size: 120%;
	font-style: italic bold;
	color: white;

}

ul{
font-size: 120%;
font-style: normal;
color: white;
}
ol {
font-size: 120%;
font-style: normal;
color: white;
}

p.m{
	font-family: monospace;
	font-size: 120%;
	font-style: normal;
	color: white;

}
h2.T{
	text-align: center;
	font-size: 180%;
	color: white;
}

h3{
font-size: 200%;
font-style: normal;
color: green;
}

a.a{
	font-size: 200%;
	
}
p.info{
	font-family: Snell Roundhand, italic;
	font-size: 90%;
	font-style: bold;
	color: white;
}

div{
	padding: 12px;
	margin: 0px;
	border: none;
}
}
#info{
	font-weight: bold;	
}
